<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale="1.0">
    <title>index</title>
    <link rel="stylesheet" href="/stylesheets/mycss/mui.min.css">
    <link rel="stylesheet" href="/stylesheets/mycss/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/mycss/style.css">
    <link rel="stylesheet" href="/stylesheets/mycss/new.css">
    <script type="text/javascript" src="/javascripts/myjs/mui.min.js"></script>
  </head>
</html>
<body>
  <header class="mui-bar mui-bar-nav home-nav">
    <h1 class="mui-title">我的</h1>
  </header>
  <div class="mui-content">
    <div class="home-div">
      <div class="home-div-top">
        <div class="home-div-top-l"><img src="images/head.jpg" alt=""></div>
        <div class="home-div-top-r">
          <h4>登录/注册</h4>
          <p>登录后可享受更多特权</p><span class="mui-icon  mui-icon-arrowright  right-icon"></span>
        </div>
      </div>
      <div class="home-list">
        <div class="home-list-div public-list-txt">
          <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a class="mui-navigate-right"><span class="mui-icon iconfont icon-shoucang01 list-l-icon home-2"></span><span>我的通知</span></a></li>
            <li class="mui-table-view-cell"><a class="mui-navigate-right"><span class="mui-icon iconfont icon-shangcheng list-l-icon home-4"></span><span>我的地址</span></a></li>
          </ul>
        </div>
        <div class="home-list-div public-list-txt">
          <ul class="mui-table-view">
            <li class="mui-table-view-cell"><a class="mui-navigate-right"><span class="mui-icon iconfont icon-fuwuzhongxin list-l-icon home-5"></span><span>意见反馈</span></a></li>
            <li class="mui-table-view-cell"><a class="mui-navigate-right"><span class="mui-icon iconfont icon-shangjiab list-l-icon home-6"></span><span>我的购物车</span></a></li>
            <li class="mui-table-view-cell"><a class="mui-navigate-right"><span class="mui-icon iconfont icon-xiangce list-l-icon home-3"></span><span>设置</span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="mui-bar mui-bar-tab"><a class="mui-tab-item" href="/index"><span class="mui-icon mui-icon-home"></span><span class="mui-tab-label">首页</span></a><a class="mui-tab-item" href="/buy"><span class="mui-icon iconfont icon-dingdan"><span class="mui-badge" style="display: none;">1</span></span><span class="mui-tab-label">订单</span></a><a class="mui-tab-item" href="/share"><span class="mui-icon iconfont icon-faxian"></span><span class="mui-tab-label">发现</span></a><a class="mui-tab-item mui-active" href="/home"><span class="mui-icon iconfont icon-wode"></span><span class="mui-tab-label">我的</span></a></nav>
  <script type="text/javascript">
    mui('body').on('tap', 'a', function () {
        window.top.location.href = this.href;
    });
  </script>
</body>