<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/mycss/mui.min.css">
    <link rel="stylesheet" href="/stylesheets/mycss/iconfont.css">
    <link rel="stylesheet" href="/stylesheets/mycss/style.css">
    <link rel="stylesheet" href="/stylesheets/mycss/new.css">
    <script type="text/javascript" src="/javascripts/aux1.js"></script>
    <link rel="stylesheet" href="/stylesheets/mycss/amazeui.min1.css">
    <link rel="stylesheet" href="/stylesheets/mycss/style1.css">
    <script type="text/javascript" src="/javascripts/myjs/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/myjs/amazeui.min.js"></script>
    <script type="text/javascript" src="/javascripts/myjs/mui.min.js"></script>
  </head>
  <body>
    <!-- 1、输入mheader按下回车键快速创建头部导航-->
    <!--
    <header class="mui-bar mui-bar-nav wm-bar">
    </header>
    -->
    <!-- 2、输入mbody按下回车键快速创建内容区域-->
    <div class="mui-content">
      <div class="wm-serch">
        <div class="mui-input-row mui-search"><span class="mui-icon mui-icon-search"></span>
          <input type="text" placeholder="请输入商家或商品名字">
        </div>
      </div>
      <div class="content-box">
        <div class="wm-banner">
          <div class="am-slider am-slider-default" data-am-widget="slider" data-am-slider="{}">
            <ul class="am-slides">
              <li><img src="images/banner3.png"></li>
              <li><img src="images/banner4.png"></li>
            </ul>
          </div>
        </div>
        <div class="wm-menu">
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-meishi c-1"></span>
              <p>精品蛋糕</p></a></div>
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-pinpai c-2"></span>
              <p>甜品品牌</p></a></div>
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-zaocan c-3"></span>
              <p>预定早餐</p></a></div>
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-peisongfangshi c-3"></span>
              <p>配送方式</p></a></div>
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-icon c-5"></span>
              <p>DIY蛋糕</p></a></div>
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-iconrupinyinpin c-6"></span>
              <p>甜品饮品</p></a></div>
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-chengzi c-7"></span>
              <p>果蔬生鲜</p></a></div>
          <div class="wm-menu-div"><a href="#"><span class="mui-icon iconfont icon-xianhuatubiao01 c-8" style="line-height: 43px;"></span>
              <p>特色蛋糕</p></a></div>
        </div>
        <div class="wm-tj">
          <div class="wm-tj-l">
            <h4>热卖甜品</h4><a href="#">
              <p>附近最火糕点</p><img src="images/1-1.png" alt=""></a>
          </div>
          <div class="wm-tj-r">
            <div class="wm-tj-r-t">
              <div class="wm-tj-r-t-l"><a href="#">
                  <h4>新店特惠</h4>
                  <p>尝尝新口味</p></a></div><a href="#"><img src="images/1-4.png" alt=""></a>
            </div>
            <div class="wm-tj-r-b">
              <div class="wm-tj-r-b-l"><a href="#">
                  <h5>小吃甜点</h5>
                  <p>美味小吃</p><img src="images/1-2.png" alt=""></a></div>
              <div class="wm-tj-r-b-r"><a href="#">
                  <h5>超时免单</h5>
                  <p>预订午后甜品</p><img src="images/1-3.png" alt=""></a></div>
            </div>
          </div>
        </div>
        <div class="wm-list">
          <div class="wm-list-div">
            <div class="wm-list-div-l"><img src="images/logo.png" alt=""></div>
            <div class="wm-list-div-r">
              <div class="wm-list-div-r-o"><a href="#">
                  <div class="wm-list-div-r-o-l">
                    <h4>spread_love翻糖花坊</h4>
                  </div></a>
                <div class="wm-list-div-r-o-r">
                  <h5>人均<span class="big-txt">35</span>元起</h5>
                </div>
              </div>
              <div class="wm-list-div-r-t">
                <div class="wm-list-div-r-t-l"><span>
                    <h5>食材：牛奶 面粉 鸡蛋 /平均卡路里：500</h5></span></div>
                <!--
                <div class="wm-list-div-r-t-r">
                <span class="small-txt">XXXX</span>
                </div>
                -->
              </div>
              <div class="wm-list-div-r-tt"><span class="small-txt">34分钟</span><span class="small-txt">1.5千米</span></div>
            </div>
          </div>
          <div class="wm-list-div">
            <div class="wm-list-div-l"><img src="images/logo.png" alt=""></div>
            <div class="wm-list-div-r">
              <div class="wm-list-div-r-o"><a href="#">
                  <div class="wm-list-div-r-o-l">
                    <h4>spread_love翻糖花坊</h4>
                  </div></a>
                <div class="wm-list-div-r-o-r">
                  <h5>人均<span class="big-txt">35</span>元起</h5>
                </div>
              </div>
              <div class="wm-list-div-r-t">
                <div class="wm-list-div-r-t-l"><span>
                    <h5>食材：牛奶 面粉 鸡蛋 /平均卡路里：500</h5></span></div>
              </div>
              <div class="wm-list-div-r-tt"><span class="small-txt">34分钟</span><span class="small-txt">1.5千米</span></div>
            </div>
          </div>
          <div class="wm-list-div">
            <div class="wm-list-div-l"><img src="images/logo.png" alt=""></div>
            <div class="wm-list-div-r">
              <div class="wm-list-div-r-o"><a href="#">
                  <div class="wm-list-div-r-o-l">
                    <h4>spread_love翻糖花坊</h4>
                  </div></a>
                <div class="wm-list-div-r-o-r">
                  <h5>人均<span class="big-txt">35</span>元起</h5>
                </div>
              </div>
              <div class="wm-list-div-r-t">
                <div class="wm-list-div-r-t-l"><span>
                    <h5>食材：牛奶 面粉 鸡蛋 /平均卡路里：500</h5></span></div>
              </div>
              <div class="wm-list-div-r-tt"><span class="small-txt">34分钟</span><span class="small-txt">1.5千米</span></div>
            </div>
          </div>
          <div class="wm-list-div">
            <div class="wm-list-div-l"><img src="images/logo.png" alt=""></div>
            <div class="wm-list-div-r">
              <div class="wm-list-div-r-o"><a href="#">
                  <div class="wm-list-div-r-o-l">
                    <h4>spread_love翻糖花坊</h4>
                  </div></a>
                <div class="wm-list-div-r-o-r">
                  <h5>人均<span class="big-txt">35</span>元起</h5>
                </div>
              </div>
              <div class="wm-list-div-r-t">
                <div class="wm-list-div-r-t-l"><span>
                    <h5>食材：牛奶 面粉 鸡蛋 /平均卡路里：500</h5></span></div>
              </div>
              <div class="wm-list-div-r-tt"><span class="small-txt">34分钟</span><span class="small-txt">1.5千米</span></div>
            </div>
          </div>
          <div class="wm-list-div">
            <div class="wm-list-div-l"><img src="images/logo.png" alt=""></div>
            <div class="wm-list-div-r">
              <div class="wm-list-div-r-o"><a href="#">
                  <div class="wm-list-div-r-o-l">
                    <h4>spread_love翻糖花坊</h4>
                  </div></a>
                <div class="wm-list-div-r-o-r">
                  <h5>人均<span class="big-txt">35</span>元起</h5>
                </div>
              </div>
              <div class="wm-list-div-r-t">
                <div class="wm-list-div-r-t-l"><span>
                    <h5>食材：牛奶 面粉 鸡蛋 /平均卡路里：500</h5></span></div>
              </div>
              <div class="wm-list-div-r-tt"><span class="small-txt">34分钟</span><span class="small-txt">1.5千米</span></div>
            </div>
          </div>
          <div class="wm-list-div">
            <div class="wm-list-div-l"><img src="images/logo.png" alt=""></div>
            <div class="wm-list-div-r">
              <div class="wm-list-div-r-o"><a href="#">
                  <div class="wm-list-div-r-o-l">
                    <h4>spread_love翻糖花坊</h4>
                  </div></a>
                <div class="wm-list-div-r-o-r">
                  <h5>人均<span class="big-txt">35</span>元起</h5>
                </div>
              </div>
              <div class="wm-list-div-r-t">
                <div class="wm-list-div-r-t-l"><span>
                    <h5>食材：牛奶 面粉 鸡蛋 /平均卡路里：500</h5></span></div>
              </div>
              <div class="wm-list-div-r-tt"><span class="small-txt">34分钟</span><span class="small-txt">1.5千米</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="mui-bar mui-bar-tab"><a class="mui-tab-item mui-active" href="/index"><span class="mui-icon mui-icon-home"></span><span class="mui-tab-label">首页</span></a><a class="mui-tab-item" href="/buy"><span class="mui-icon iconfont icon-dingdan"><span class="mui-badge" style="display: none;">1</span></span><span class="mui-tab-label">订单</span></a><a class="mui-tab-item" href="/share"><span class="mui-icon iconfont icon-faxian"></span><span class="mui-tab-label">发现</span></a><a class="mui-tab-item" href="/home"><span class="mui-icon iconfont icon-wode"></span><span class="mui-tab-label">我的</span></a></nav>
    <script type="text/javascript" src="/javascripts/myjs/castapp.js">
      <script>
        //()里面可填参数 true(状态栏文字颜色为黑色) 、false（状态栏白色文字）
        ca.init(false);
        castapp.pictureScroll({
            callback: function (pictureNumber) {
                //		        console.log(pictureNumber);
            },
            isAutoScroll: true,
            scrollTime: 3
        });
        
      </script>
    </script>
    <script type="text/javascript">
      mui('body').on('tap', 'a', function () {
          window.top.location.href = this.href;
      });
    </script>
  </body>
</html>