doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
        title
        link(rel='stylesheet', href='/stylesheets/mycss/mui.min.css')
        link(rel='stylesheet', href='/stylesheets/mycss/iconfont.css')
        link(rel='stylesheet', href='/stylesheets/mycss/style.css')
        link(rel='stylesheet', href='/stylesheets/mycss/new.css')
        script(type='text/javascript', src='/javascripts/aux1.js')
        link(rel='stylesheet', href='/stylesheets/mycss/amazeui.min1.css')
        link(rel='stylesheet', href='/stylesheets/mycss/style1.css')
        script(type='text/javascript', src='/javascripts/myjs/jquery.min.js')
        script(type='text/javascript', src='/javascripts/myjs/amazeui.min.js')
        script(type='text/javascript', src='/javascripts/myjs/mui.min.js')
    body
        // 1、输入mheader按下回车键快速创建头部导航
        //
          <header class="mui-bar mui-bar-nav wm-bar">
          </header>
        // 2、输入mbody按下回车键快速创建内容区域
        .mui-content
            .wm-serch
                .mui-input-row.mui-search
                    span.mui-icon.mui-icon-search
                    input(type='text', placeholder='请输入商家或商品名字')
            .content-box
                .wm-banner
                    .am-slider.am-slider-default(data-am-widget='slider', data-am-slider='{}')
                        ul.am-slides
                            li
                                img(src='images/banner3.png')
                            li
                                img(src='images/banner4.png')
                .wm-menu
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-meishi.c-1
                            p 精品蛋糕
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-pinpai.c-2
                            p 甜品品牌
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-zaocan.c-3
                            p 预定早餐
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-peisongfangshi.c-3
                            p 配送方式
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-icon.c-5
                            p DIY蛋糕
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-iconrupinyinpin.c-6
                            p 甜品饮品
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-chengzi.c-7
                            p 果蔬生鲜
                    .wm-menu-div
                        a(href='#')
                            span.mui-icon.iconfont.icon-xianhuatubiao01.c-8(style='line-height: 43px;')
                            p 特色蛋糕
                .wm-tj
                    .wm-tj-l
                        h4 热卖甜品
                        a(href='#')
                            p 附近最火糕点
                            img(src='images/1-1.png', alt='')
                    .wm-tj-r
                        .wm-tj-r-t
                            .wm-tj-r-t-l
                                a(href='#')
                                    h4 新店特惠
                                    p 尝尝新口味
                            a(href='#')
                                img(src='images/1-4.png', alt='')
                        .wm-tj-r-b
                            .wm-tj-r-b-l
                                a(href='#')
                                    h5 小吃甜点
                                    p 美味小吃
                                    img(src='images/1-2.png', alt='')
                            .wm-tj-r-b-r
                                a(href='#')
                                    h5 超时免单
                                    p 预订午后甜品
                                    img(src='images/1-3.png', alt='')
                .wm-list
                    .wm-list-div
                        .wm-list-div-l
                            img(src='images/logo.png', alt='')
                        .wm-list-div-r
                            .wm-list-div-r-o
                                a(href='#')
                                    .wm-list-div-r-o-l
                                        h4 spread_love翻糖花坊
                                .wm-list-div-r-o-r
                                    h5
                                        | 人均
                                        span.big-txt 35
                                        | 元起
                            .wm-list-div-r-t
                                .wm-list-div-r-t-l
                                    span
                                        h5 食材：牛奶 面粉 鸡蛋 /平均卡路里：500
                                //
                                  <div class="wm-list-div-r-t-r">
                                  <span class="small-txt">XXXX</span>
                                  </div>
                            .wm-list-div-r-tt
                                span.small-txt 34分钟
                                span.small-txt 1.5千米
                    .wm-list-div
                        .wm-list-div-l
                            img(src='images/logo.png', alt='')
                        .wm-list-div-r
                            .wm-list-div-r-o
                                a(href='#')
                                    .wm-list-div-r-o-l
                                        h4 spread_love翻糖花坊
                                .wm-list-div-r-o-r
                                    h5
                                        | 人均
                                        span.big-txt 35
                                        | 元起
                            .wm-list-div-r-t
                                .wm-list-div-r-t-l
                                    span
                                        h5 食材：牛奶 面粉 鸡蛋 /平均卡路里：500
                            .wm-list-div-r-tt
                                span.small-txt 34分钟
                                span.small-txt 1.5千米
                    .wm-list-div
                        .wm-list-div-l
                            img(src='images/logo.png', alt='')
                        .wm-list-div-r
                            .wm-list-div-r-o
                                a(href='#')
                                    .wm-list-div-r-o-l
                                        h4 spread_love翻糖花坊
                                .wm-list-div-r-o-r
                                    h5
                                        | 人均
                                        span.big-txt 35
                                        | 元起
                            .wm-list-div-r-t
                                .wm-list-div-r-t-l
                                    span
                                        h5 食材：牛奶 面粉 鸡蛋 /平均卡路里：500
                            .wm-list-div-r-tt
                                span.small-txt 34分钟
                                span.small-txt 1.5千米
                    .wm-list-div
                        .wm-list-div-l
                            img(src='images/logo.png', alt='')
                        .wm-list-div-r
                            .wm-list-div-r-o
                                a(href='#')
                                    .wm-list-div-r-o-l
                                        h4 spread_love翻糖花坊
                                .wm-list-div-r-o-r
                                    h5
                                        | 人均
                                        span.big-txt 35
                                        | 元起
                            .wm-list-div-r-t
                                .wm-list-div-r-t-l
                                    span
                                        h5 食材：牛奶 面粉 鸡蛋 /平均卡路里：500
                            .wm-list-div-r-tt
                                span.small-txt 34分钟
                                span.small-txt 1.5千米
                    .wm-list-div
                        .wm-list-div-l
                            img(src='images/logo.png', alt='')
                        .wm-list-div-r
                            .wm-list-div-r-o
                                a(href='#')
                                    .wm-list-div-r-o-l
                                        h4 spread_love翻糖花坊
                                .wm-list-div-r-o-r
                                    h5
                                        | 人均
                                        span.big-txt 35
                                        | 元起
                            .wm-list-div-r-t
                                .wm-list-div-r-t-l
                                    span
                                        h5 食材：牛奶 面粉 鸡蛋 /平均卡路里：500
                            .wm-list-div-r-tt
                                span.small-txt 34分钟
                                span.small-txt 1.5千米
                    .wm-list-div
                        .wm-list-div-l
                            img(src='images/logo.png', alt='')
                        .wm-list-div-r
                            .wm-list-div-r-o
                                a(href='#')
                                    .wm-list-div-r-o-l
                                        h4 spread_love翻糖花坊
                                .wm-list-div-r-o-r
                                    h5
                                        | 人均
                                        span.big-txt 35
                                        | 元起
                            .wm-list-div-r-t
                                .wm-list-div-r-t-l
                                    span
                                        h5 食材：牛奶 面粉 鸡蛋 /平均卡路里：500
                            .wm-list-div-r-tt
                                span.small-txt 34分钟
                                span.small-txt 1.5千米

        nav.mui-bar.mui-bar-tab
            a.mui-tab-item.mui-active(href='/index')
                span.mui-icon.mui-icon-home
                span.mui-tab-label 首页
            a.mui-tab-item(href='/buy')
                span.mui-icon.iconfont.icon-dingdan
                    span.mui-badge(style='display: none;') 1
                span.mui-tab-label 订单
            a.mui-tab-item(href='/share')
                span.mui-icon.iconfont.icon-faxian
                span.mui-tab-label 发现
            a.mui-tab-item(href='/home')
                span.mui-icon.iconfont.icon-wode
                span.mui-tab-label 我的

        script(type = 'text/javascript', src='/javascripts/myjs/castapp.js')
            script.
                //()里面可填参数 true(状态栏文字颜色为黑色) 、false（状态栏白色文字）
                ca.init(false);
                castapp.pictureScroll({
                    callback: function (pictureNumber) {
                        //		        console.log(pictureNumber);
                    },
                    isAutoScroll: true,
                    scrollTime: 3
                });

        script(type = 'text/javascript').
            mui('body').on('tap', 'a', function () {
                window.top.location.href = this.href;
            });
